@{
    ViewBag.Title = "About";
}


<div class="container">
    @* A bit about me. *@
    <div class="row ">
        <div class="col-md-10 ">

            <h2> A bit about me.</h2>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 ">
                            <img style="width:inherit; height:150px;" src="~/Content/Images/noUser.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class="row">
                        <div class="col-md-12"> <b>UserName</b>  </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"  style="margin-top:5.8%;">
            <div class="row">
               
                    <b>Contact me</b>
             
            </div>

            <div class="row">
                <span style="color:#B15315;">Email:</span><span>bilel.boach@gmail.com</span>
            </div>
            <div class="row">
                <span style="color:#B15315;">Cell:</span><span>514 431 2400</span>
               
            </div>
            <div class="row">
                <span style="color:#B15315;">Adresse:</span><span>7368 rue saint kevin Montreal QC Canada </span>
            </div>
        </div>

    </div>

    @* Resume *@
    <div class="row ">
        <div class="col-md-10 ">
            @* Column1 *@
            <h2> Resume.</h2>
            <hr />
            @* Professional info *@
            <div class="row" style="height:200px;">

                <div class="col-md-4 ">

                    <div class="row" style="vertical-align:central;">

                        <div class="col-md-offset-2 col-md-8" style="height:150px; background-color:#E83556;  ">
                           
                                <h4 style="
text-align: center; vertical-align: middle; line-height: 145px;">
                                    <b> Professional info</b>
                                </h4>
                            
                        </div>

                    </div>
                </div>
                <div class="col-md-8 style="height:200px;">
                    <span style="
text-align: center; vertical-align: middle;">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.

                    </span>
                </div>
            </div>

            @* WORK EXPERIENCE *@
            <div class="row">
                <div class="col-md-4 ">
                    <div class="row" style="vertical-align:central;">

                        <div class="col-md-offset-2 col-md-8" style="height:150px; background-color:#D9534F;  ">
                            <h4 style="
text-align: center; vertical-align: middle; line-height: 145px;">
                              <b>Work Experience</b>  
                            </h4>
                        </div>

                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class="row"> <div class="col-md-12"><b>Job Position</b> </div></div>
                    <div class="row">
                        <div class="col-md-12" style="color:#4A8D57;"><b>2015 - Present</b></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span style="
text-align: center; vertical-align: middle;">
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.

                            </span>
                        </div>
                    </div>
                    <hr />

                    <div class="row"> <div class="col-md-12"><b>Job Position</b> </div></div>
                    <div class="row">
                        <div class="col-md-12" style="color:#4A8D57;"><b>2009 - 2015</b></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span style="
text-align: center; vertical-align: middle;">
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.

                            </span>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>

            @* Education *@
            <div class="row">
                <div class="col-md-4 ">
                    <div class="row" style="vertical-align:central;">

                        <div class="col-md-offset-2 col-md-8" style="height:150px; background-color:#EC971F;  ">
                            <h4 style="
text-align: center; vertical-align: middle; line-height: 145px;">
                               <b>Education</b> 
                            </h4>
                        </div>

                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class="row"> <div class="col-md-12"><b>University name</b> </div></div>
                    <div class="row">
                        <div class="col-md-12" style="color:#4A8D57;"><b>2010 - 2015</b></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span style="
text-align: center; vertical-align: middle;">
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.

                            </span>
                        </div>
                    </div>
                    <hr />

                    <div class="row"> <div class="col-md-12"><b>University name</b> </div></div>
                    <div class="row">
                        <div class="col-md-12" style="color:#4A8D57;"><b>2011 - 2013</b></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span style="
text-align: center; vertical-align: middle;">
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
                            </span>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>

        @* Column2 *@
        <div class="col-md-2 " style="margin-top:5.8%">
            <div class=" row" >
            <b>Langages</b>
        </div>
            <div class="row">
               

                    <ul>

                        <li>C++</li>
                        <li>JavaFx</li>
                        <li>.net</li>
                        <li>Html</li>
                    </ul>
              
            </div>
           
        </div>
    </div>

    @* Contact *@
    <div class="row ">
        <div class="col-md-12 ">
            <h2>Contact.</h2>
            <hr />
            <div class="row">

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-md-offset-2 ", role = "form" }))
                {
                    <div class="form-group">
                        <div class="col-md-1 col-md-offset-3">
                            <label for="inputEmail" class="control-label">Subject</label>
                        </div>

                        <div class="col-md-8">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-1 col-md-offset-3">
                            <label for="textArea" class="control-label">Message</label>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="3" id="textArea" placeholder="Put your message here"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" value="Send" class="btn btn-primary col-md-8" />
                        </div>

                    </div>
                }


            </div>
        </div>
    </div>
</div>
