@{
    ViewBag.Title = "About";
}


<div class="container">

    <div class="row setBorder">
        <div class="col-md-10 setBorder">
           Abit about me
            <div class="row">
                <div class="col-md-4 setBorder">
                    <div class="row">
                        <div class="  col-md-12 setborder" >                       
                                <img style="width:inherit; height:150px;" src="~/Content/Images/noUser.jpg" /> 
                        </div>
                    </div>
                </div>
                <div class="col-md-8 setBorder">description</div>
            </div>
        </div>
        
    </div>



    <div class="row setBorder">
        <div class="col-md-10 setBorder">
            Resume
            <div class="row">
                <div class="col-md-4 setBorder">photo</div>
                <div class="col-md-8 setBorder">description</div>
            </div>
        </div>
        <div class="col-md-2 setBorder">
            <span>  Langages</span>
            <div class="row">
                <div class="col-md-12 setBorder ">
                    <div class="row">C++</div>
                    <div class="row">JavaFx</div>
                    <div class="row">.net</div>
                </div>
            </div>
        </div>
    </div>
</div>

