@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="height:500px">

    <img src="~/Content/Images/logo.png" class="centerLogo" />

    <h3> <b>Are you looking for a IT jobs, you are freelancer or graduate in computer science ? </b></h3>
    <p class="lead">Jobs4Developers offers an online resume database for those seeking IT jobs in the province of Quebec. Whether you are from Montreal or Quebec , Val-d'Or and Sept-Îles, here you will multiply your chances of finding a job in IT.</p>



    <blockquote class="text-info">
        <small class="text-info">
            Visibility on search engines (Google, Yahoo, Bing).
        </small>
        <small class="text-info">
            Ayez votre page (ex: jobs4developers.com/BilelBoach).
        </small>
        <small class="text-info">
            Maximize your results.
        </small>
        <small class="text-info">
            A reference computer - T.I.
        </small>

    </blockquote>
    <p class="col-lg-offset-11"><a href="" class="btn btn-primary btn-lg  ">Start &raquo;</a></p>
</div>

