@using Jobs4Developers.Models
@model WorkExperience

<div>
@Html.LabelFor(model => model.JobPosition)
@Html.LabelFor(model => model.StartDate)
@Html.LabelFor(model => model.EndDate)
@Html.LabelFor(model => model.Description)
</div>

